# C++ ignore list for git-repositories


# The following content of this file was taken from https://github.com/github/gitignore/blob/master/C++.gitignore,
# that is published under the CC0 1.0 Universal license.

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
